body {
    background-color: #000000;
    font-family:'Times New Roman';
    font-size: 15px;
    margin: auto;
    width: auto;
    text-align: center;
}
.survey-form {
    background-color: #ffffff;
    border-color: #000000;
    text-align: center;
}